/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* tag class */
nav{
    width: 80px;
    height: calc(100vh - 100px);
    background-color: black;
    color: #d2d2d2;
}

/* Generic class */
.flex{
    display: flex;
}

.list{
    flex-direction: column;
}

.container-nav{
    width: 85%;
    margin: 0 auto;
}

.nav-menu{
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.small-logo{
    width: 65%;
}

.big-logo{
    display: none;
}

/* Specific class */
div.nav-menu span{
    display: none;
}



/* Smartphone first */

@media screen and (min-width:639px) {
    
}
