/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* tag class */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    min-width: 420px;
}

nav{
    width: 40px;
    height: calc(100vh - 80px);
    background-color: black;
    color: #d2d2d2;
}

ul{
    list-style: none;
}

footer{
    height: 100%;
    width: 100%;
}

/* Generic class */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.list{
    flex-direction: column;
}

.space-around{
justify-content: space-around;
}

.space-between{
    justify-content: space-between;
    }

.container-nav{
    width: 85%;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
}

.center{
    justify-content: center;
    align-items: center;
    margin: 0.25rem 0;
}

.profile{
    align-items: end;
}

.small-icons{
    width: 20px;
    height: 20px;
}

.big-logo{
    display: none;
}

.playlist{
    display: none;
}

.left-screen{
    width: calc(100% - 40px);
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.dark-blue-background{
    background-color: #080b12;
}

.blue-background{
    background-color: #141922;
}

.gray-background{
    background-color: #282828;
}

.upgrade-button{
    background-color: #080b12;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 0.5rem 2.2rem;

}

.upper-banner{
    padding: 1.3rem 0.3rem;
    justify-content: end;
}
.upper-menu{
    width: 85%;
    margin: 0 auto;
}

.container-content{
    width: 90%;
    margin: 0 auto;
}

.container-footer{
    width: 95%;
    margin: 0 auto;
}

.card{
    width: calc((100%/2) - 0.6rem);
    margin: 0.3rem;
}

.title-card{
    justify-content: center;
    align-items: center;
}

.for-you{
    margin: 1.5rem 0;
}

.footer-img{
    margin-right: 0.5rem;
}

.music-name{
    margin-right: 1.5rem;
}

.central-footer-top{
    justify-content: space-evenly;
    align-items: center;
}

.central-footer-bottom
{
    justify-content: center;
    align-items: center;
}

.right-footer{
    align-items: center;
}

.time{
    color:  white;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0 0.7rem;
}

.music-bar{
    width: 100px;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 2rem;
}

.music-bar-gray{
    width: 50px;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 2rem;
}

.music-bar-small{
    width: 2rem;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 2rem;
}

.music-bar-gray-small{
    width: 0.6rem;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 2rem;
}

.volume{
    justify-content: center;
    align-items: center;
}
/* Specific class */
div.center span{
    display: none;
    font-size: 0.75rem;
}

div.add-playlist i{
    background-color: #a3a3a3;
    padding: 0.5rem;
}

div.install i{
    border: solid 1px #d2d2d2;
    border-radius: 50%;
    padding: 6px 3px;
}

div.install p{
    display: none;
}

div.account img{
    width: 20px;
    height: 20px;
    background-color: #808080;
    border-radius: 50%;
}

div.profile hr{
    display: none;
}

div.add-playlist span{
    padding: 0.3rem 0.3rem;
    
}

div.playlist h4{
    margin: 0.7rem 0;
    color: white;
}

div.playlist ul{
    font-size: 0.8rem;
    padding: 0.6rem 0;
}

div.playlist ul li{
    padding: 0.4rem 0;
    font-size: 0.6rem;
}

div.upper-menu ul{
    justify-content: center;
    color: #7b7e82;
}

div.upper-menu ul li{
    padding: 0.8rem 0;
    font-size: 0.8em;
    font-weight: bold;
    width: calc(100%/4);
    text-align: center;
}

div.upper-menu ul li hr{
    margin:0 38%;
    color: green;
    display:none;
}

div.container-content h2{
    color:white;
    padding: 2rem 0;
}

div.card div img{
    width: 100%;
}

div.title-card h4{
    color: white;
    text-align: center;
}
div.title-card span,
div.for-you span
{
    color: #7d7f84;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.3rem 0;
}

div.for-you h1{
    color: white;
    margin-bottom: 0.3rem;
}
.for-you-img img{
    width: 100%;
}

div.rounded img{
    border-radius: 50%;
}

div.footer-img img{
    width: 35px;
    padding-top: 0.6rem;
}

footer section{
    padding: 1rem 0;
}

div.music-name span{
    color: #7a7a7a;
    font-size: 0.8rem;
    font-weight: bold;
}

div.music-name h4{
    color: white;
}

.central-footer-top i{
    padding: 0.5rem 0.7rem;
}

div.right-footer i,
div.central-footer-top i
{
    padding: 0 0.3rem;
}

/* Hover */
div.upper-menu ul li:hover hr{
    display: block;
}

div.upper-menu ul li:hover{
    color: white;
}

div.card-img{
    position: relative;
}

div.card-img:hover::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='white'%3E%3C!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9V168c0-8.7 4.7-16.7 12.3-20.9z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    cursor: pointer;
}

div.flex.list.icon div.center.flex:hover,
div.flex.list.icon div.add-playlist:hover,
nav ul li:hover
{
    color: white;
}
div.add-playlist:hover i{
    background-color: white;
}

/* Smartphone first */
@media screen and (min-width:768px) {
    nav{
        width: 180px;
    }
    div.center span{
        display: block;
        padding-left: 0.5rem;
    }
    .center{
        justify-content: start;
        align-items: center;
        margin: 0.25rem 0;
    }
    .playlist{
        display: block;
    }
    div.profile hr{
        display: block;
    }
    .small-logo{
        display: none;
    }
    .big-logo{
        display: block;
        width: 160px;
        height: 35px;
        margin-bottom: 0.7rem;
    }
    .left-screen{
        width: calc(100% - 160px);
    }
    div.upper-menu ul li{
        width: calc(100%/3);
    }
    div.central-footer-top i{
        padding: 0 2rem;
    }
    .music-bar{
        width: 273px;
    }
}

/* medium view */
@media screen and (min-width:992px){
    div.upper-menu ul li{
        width: calc(100%/5);
    }
    .card{
        width: calc((100%/4) - 0.6rem);
    }
    
}

/* full screen view */
@media screen and (min-width:1200px){
    div.upper-menu ul li{
        width: calc(100%/6);
    }
    .card{
        width: calc((100%/6) - 0.6rem);
    }
}